html{
	overflow-y: scroll;
}
body{
	font-family:Century Gothic, sans-serif;
	padding:0;
	margin:0;
	color:#515151;
}
p{
	font-size:14px;
}
a{
	text-decoration:none;
	font-weight:bold;
	color:#489fd7;
}
.footer{
	text-align:center;
	margin:0px;
	display:block;
	background-color:#333333;
	color:#FFFFFF;
	padding:20px;
}

a:hover{
	color:#3a82b0;
}
h1{
	font-family:Roboto, sans-serif;
	color:white;
	margin-top:0px;
	display:block;
	background-color:#67B1D0;
	margin:0px;
	text-align:center;
	padding:25px;
	text-transform:uppercase;
	overflow:hidden;
}
h2{
	font-size:36px;
}
h3{
	font-family:Arial Narrow, sans-serif;
	font-size:30px;
}

h4{
	font-family:Century Gothic, sans-serif;
	font-size:24px;
	font-weight:lighter;
}
h5{
	font-size:24px;
	margin-bottom:0px;
	font-weight:lighter;
	margin-top:20px;
}
h6{
	font-size:36px;
	margin:0px;
	margin-top:50px;
}

.content .event_info{
	color:#2c2c4b;
	font-weight:bold;
	font-size:16px;
	margin:5px;
	margin-bottom:0px;
}

.content .event_description{
	margin:5px;
	margin-bottom:20px;
}

#navbar ul{
	background-color:rgba(243, 249, 251, 1);
	list-style:none;
	padding:0;
	margin:0;
	display:block;
}
#navbar li{
	font-size:16px;
	display:block;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	background-color:rgba(243, 249, 251, 1);
}
#navbar a{
	color:rgba(142, 142, 142, 1);
	display:block;
	text-decoration:none;
	font-family:Century Gothic, sans-serif;
	font-weight:lighter;
}
#navbar #icon-bar a{
	display:inline;
}
#navbar #icon-bar{
	position:relative;
}
#navbar #site-title{
	height:116px;
	line-height:28px;
	padding-top:10px;
}

#navbar #site-title a{
	font-weight:700;
	font-size:28px;
	color:rgba(78, 176, 218, 1);
	font-family:'Roboto', sans-serif;
}


#navbar a.active{
	background-color:#D8EBF4;
}


#navbar
{
	position:relative;
	width:100%;
}

.content .preview img
{
	width:300px;
	margin:auto;
}

.address
{
	margin-left:50px;
	margin-top:25px;
	font-style:italic;
}

.supporting
{
	border-bottom:1px gray solid;
	padding-bottom:50px;
	padding-top:50px;
	display:block;
	overflow:hidden;
	
}
.supporting p
{
	width:50%;
	display:inline-block;
	line-height:2em;
}

.supporting img
{
	display:inline-block;
}

.content
{
	background-color:white;
	margin:0px;
	padding:20px;
	display:block;
	overflow:hidden;
}

.content ul{
	text-decoration:none;
	list-style:none;
	padding:0px;
	margin:0px;
}

.content li{
	display:inline-block;
}
.content #dates{
	margin-bottom:10px;
}
.content #dates a{
	font-weight:normal;
	text-decoration:underline;
	margin-left:5px;
	font-family:Roboto, sans-serif;
}
.content .execteam{
	border-top:1px gray solid;
	display:black;
	padding:5px;
	padding-bottom:10px;
	font-family:Verdana, sans-serif;
	font-size:12px;
}

.content .execteam img{
	border:10px white solid;
	margin:5px, 0px, 10px, 0px;
	width:320px;
}

.content .execteam li{
	display:block;
	margin:5px;
	font-weight:normal;
	color:black;
	font-style:normal;
}

.content .execteam li span{	
	color:#335078;
	font-weight:bold;
	font-family:Trebuchet MS, sans-serif;
	font-size:12px;
}

.content .execteam .anchor{
	display:block;
	position:relative;
}
.content .execteam .bio{
	display:none;
	font-family:Arial, sans-serif;
	color:#515151;
	padding:5px;
}
.content .execteam .show-bio{
	text-decoration:underline;
	font-size:10px;
}
.content #faq span{
	font-weight:bold;
}

.content #currentteam{
	border:none;
}

.flex-caption {
  width: 96%;
  padding: 0%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 18px;
  line-height: 24px;
}

.site-button{
	border-radius:10px;
	display:inline-block;
	border:	rgba(78, 176, 218, 1) 2px solid;
	text-align:center;
	padding:15px 30px 15px 30px;
	font-weight:lighter;
	font-size:14px;
	transition:background-color 0.5s ease;
}

a .site-button{
	color:black;
	background-color:white;
	transition:background-color 0.5s ease;
}

.site-button:hover{
	background-color:rgba(78, 176, 218, 1);
	color:white;
	transition:background-color 0.5s ease;
}

.gallery{
	margin:auto;
}

.gallery .thumbnails img{
	display:inline-block;
	height:25px;
}

.gallery .preview img{
	width:300px;
}

#home-page{
	background-color:#67B1D0;
	display:block;
	padding:50px 0px 50px 0px;
	margin-top:50px;
	text-align:center;
	color:white;
}

#home-page h2{
	color:white;
	font-size:60px;
	vertical-align:middle;
	margin-top:0px;
	margin-bottom:50px;
}

#home-page .site-button:hover{
	border:white 2px solid;
	transition: background-color border 0.5s ease;
}
#home-page .site-button{
	transition:border 0.5s ease;
}
#home-links{
	display:block;
	margin:auto;
	text-align:center;
}
#home-links div{
	display:block;
	margin:0px;
}
#home-links div img{
	width:320px;
	border:solid 0.1px black;
}
@media only screen and (min-device-width:600px)
{
	/*Navigation Bar*/
	#navbar{
		display:block;
	}
	#navbar > ul{
		padding-top:10px;
	}
	#navbar li{
		font-size:16px;
		width:100px;
		display:inline-block;
		height:40px;
		line-height:40px;
		margin-left:-4px;
		vertical-align:middle;
		background-color:rgba(243, 249, 251, 1);
	}
	#navbar > li
	{
		display:block;
	}
	#navbar a:hover{
		color:rgba(78, 176, 218, 1);
	}
	#navbar #site-title{
		padding-top:0px;
		width:300px;
		margin-left:5px;
	}

	#navbar #site-title a{
		text-align:left;
	}
	/*Navigation bar sub-menus*/
	#navbar li ul{
		position:absolute;
		display:none;
		width:200px;
		font-size:12px;
	}
	#navbar li:hover ul{
		display:block;
	}
	#navbar li ul li{
		display:block;
		width:200px;
		border-top:1px solid #E2E2E2;
	}
	#navbar #icon-bar{
		position:relative;
		
	}
	/*End Navigation Bar*/

	p{
		font-size:18px;
		font-weight:100;	
	}	
	h1{
		font-size:48px;
		padding:50px;
	}
	h2{
		font-size:44px;
	}
	h5{
		font-size:30px;
		margin-bottom:0px;
		font-weight:lighter;
	}

	.content .event_info{
		font-size:20px;
	}
	.content 
	{
		margin:50px;
		overflow:hidden;
		/*width: 1250px;*/
		margin:auto;
		padding-bottom:500px;
		padding:100px;
		padding-top:50px;
	}
	
	.content .execteam{
		padding:10px;
		padding-bottom:20px;
		font-size:18px;
	}

	.content .execteam img{
		border:10px white solid;
		margin:5px, 0px, 10px, 0px;
		width:700px;
		height:465px;
	}

	.content .execteam li{
		display:block;
		margin:5px;
		font-weight:normal;
		color:black;
		font-style:normal;
	}

	.content .execteam li span{	
		font-size:18px;
	}

	.content .execteam .anchor{
		top:-30px;
	}
	.content .execteam .show-bio{
		font-size:12px;
	}

	.flexslider{
		width:1000px;
		margin-right:auto;
		margin-left:auto;
	}

	.gallery .thumbnails img{
		display:inline-block;
		height:50px;
	}

	.gallery .preview img{
		width:900px;
	}
	#home-page{
		padding:80px 0px 80px 0px;
		margin-top:0px;
	}
	#home-page h2{
		font-size:100px;
		margin-bottom:83px;
	}
	#home-links div a h4{
		color:#515151;
		text-decoration:underline;
	}
	#home-links div{
		display:inline-block;
		margin:100px;
		margin-bottom:50px;
	}
	#home-links p{
		width:300px;
	}
	#home-links div a img{
		width:320px;
		height:230px;
	}


	.address
	{
		margin-left:200px;
		margin-top:30px;
	}

}
